// 変数

// 正常
// $global-value: 50px;

// .main {
//  width: 500px;
//  height: 500px;
//  margin: $global-value;
//  padding: $global-value;
//  background: #333;
// }

// エラー
// .main {
//     $scope-value: 50px;
//     width: 500px;
//     height: 500px;
//     margin: $scope-value;
//     padding: $scope-value;
//     background: #333;
// }
// .sub {
//     width: 500px;
//     height: 500px;
//     margin: $scope-value;
//     padding: $scope-value;
//     background: #333;
// }

// セレクター名、ファイルパスを変数として使⽤

// エラー
// $parent-name: '.main';
// $img-path: './img/';

// $parent-name {
//  $scope-value: 50px;
//  width: 500px;
//  height: 500px;
//  margin: $scope-value;
//  padding: $scope-value;
//  background: #333;
// }

// 正常
$parent-name: '.main';
$img-path: './img/';
#{$parent-name} {
 $scope-value: 50px;
 width: 500px;
 height: 500px;
 margin: $scope-value;
 padding: $scope-value;
 // 画像は⽤意してないのでコメントアウトしています
 // background: url(${$img-path}img.png);
}