// mixin

// @mixin boxContent {
//     width: 300px;
//     height: 300px;
// }
// .main-box {
//     @include boxContent;
//     background: #ff0000;
// }
// .sub-box {
//     @include boxContent;
//     background: #0011ff;
// }

// 引数を使う
// @mixin boxContent($value) {
//     width: $value;
//     height: $value;
// }
// .main-box {
//     @include boxContent(300px);
//     background: #ff0000;
// }
// .sub-box {
//     @include boxContent(100px);
//     background: #0011ff;
// }

@mixin boxContent($value: 300px) {
    width: $value;
    height: $value;
}
.main-box {
    @include boxContent;
    background: #ff0000;
}
.sub-box {
    @include boxContent(100px);
    background: #0011ff;
}

// 引数の複数指定
// @mixin boxContent($value: 300px, $margin: 0 auto, $padding: 0) {
//     width: $value;
//     height: $value;
//     margin: $margin;
//     padding: $padding;
// }
// .main-box {
//     @include boxContent;
//     background: #ff0000;
// }
// .sub-box {
//     @include boxContent(100px, 0 50px, 20px);
//     background: #0011ff;
// }

// スコープの制限
.main-box {
 @mixin boxContent($value: 300px, $margin: 0 auto, $padding: 0) {
 width: $value;
 height: $value;
 margin: $margin;
 padding: $padding;
}
 .sub-box {
 @include boxContent(100px, 0 50px, 20px);
 background: #0011ff;
 }
}
// エラーを起こす
// .sub-box {
// @include boxContent(100px, 0 50px, 20px);
// background: #0011ff;
// }