// Extend

// 通常
// .main-box, .sub-box {
//     width: 300px;
//     height: 300px;
//     background: #ff0000;
//    }

// Extend使用
// .main-box {
//     width: 300px;
//     height: 300px;
//     background: #ff0000;
//    }
//    .sub-box {
//     @extend .main-box;
//    }

// 複数の継承
// .is-flex {
//     display: flex;
// }
// .main-box {
//     width: 300px;
//     height: 300px;
//     background: #ff0000;
// }
// .sub-box {
//     @extend .main-box;
//     @extend .is-flex;
// }

.is-flex {
    display: flex;
}
.main-box {
    width: 300px;
    height: 300px;
    background: #ff0000;
}
.mini-box-area {
    width: 100px;
    height: 100px;
}
.sub-box {
    position: relative;
    @extend .main-box;
    @extend .is-flex;
    &-content {
        position: absolute;
        top: 0;
        left: 0;
        background: #0008f3;
    @extend .mini-box-area;
    }
}

// 継承できないパターン
// @media内は継承できない
// .main-box {
//     width: 300px;
//     height: 300px;
//     background: #ff0000;
// }
// @media screen and (max-width: 1199px) {
//     .sub-box {
//        @extend .main-box;
//     }
// }