.inner{
    width: 100%;
    margin: 0 auto;
}

/* header */
header{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
header h1 a img{
    width: 200px;
    height: 25px;
}
header nav ul{
    width: 100%;
    justify-content: space-between;
}
header nav ul li a{
    display: none;
    text-decoration: none;
    color: #9c9b98;
}

/* keyvisual */
.keyvisual img{
    width: 100%;
}

/* main */
.main_content{
    width: 100%;
    margin: 0 auto;
}
h2{
    padding: 10px;
    font-weight: lighter;
    background-color: #B99465;
    color: white;
}

/* information */
.information ul li{
    padding: 10px;
}
.information ul li:nth-child(2n){
    background-color: #F5F3EF;
}
.information ul li time{
    font-size: 12px;
}
.information ul li p{
    font-size: 14px;
    margin-top: 5px;
}
.information ul li p::before{
    content: "▶︎";
}

/* gourmet */
.gourmet_content{
    padding: 5px;
}
.gourmet img{
    width: 100%;
    margin-top: 10px;
}
.gourmet .container{
    width: 100%;
    border-left: 4px solid #402805;
    padding: 5px 10px;
}
.gourmet .container h3{
    margin-bottom: 5px;
}
.gourmet .container ul{
    display: flex;
}
.gourmet .container ul li{
    list-style: none;
    background-color: #B99465;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;  
    color: white;
    font-size: 10px;
}
.gourmet .container ul li:nth-child(1){
    margin-left: 0;
}
.gourmet p{
    margin: 10px;
    font-size: 14px;
}

/* footer */
footer ul{
    width: 100%;
    padding: 20px;
    background-color: #53514C;
}
footer ul li{
    width: 300px;
    height: 30px;
    border: white 1px solid;
    margin: 10px auto;
    padding: 0px;
    list-style: none;
    text-align: center;
}
footer ul li a{
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
    color: white;
}
footer .logo{
    text-align: center;
    margin: 16px 0;
}
footer .logo a img{
    width: 160px;
    height: 20px;
}
footer p{
    text-align: center;
    margin: 10px 0;
}
footer p small{
    font-size: 10px;
}