.container{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.container h2{
  font-size: 45px;
  margin-bottom: 12px;
}

.container input{
  min-width: 360px;
  padding: 5px;
  margin-bottom: 20px;
}

.button-container{
  width: auto;
  margin: 20px auto;
}

.button-container button{
  margin: 0 15px;
  padding: 10px 20px;
  font-size: 20px;
}