@charset "UTF-8";
.header {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 94px;
  box-shadow: 0 3px 6px rgb(0, 0, 0);
  background-color: #fff;
}
.header-inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-logo img {
  width: 55px;
  height: 55px;
}
.header-ttl {
  font-size: 24px;
  font-weight: bold;
  margin-left: 16px;
}
.header-nav ul {
  display: flex;
  justify-content: space-between;
}
.header-nav ul li {
  text-align: center;
  margin-right: 45px;
  list-style: none;
}
.header-nav ul a {
  color: #000;
  text-decoration: none;
}

.contact-btn {
  width: 155px;
  height: 37px;
  background: linear-gradient(90deg, #FA41CC, #6020B0);
  color: #fff;
  border-radius: 10px;
  display: block;
  text-align: center;
  line-height: 37px;
  box-shadow: 0 3px 6px rgb(0, 0, 0);
  text-decoration: none;
}

.main {
  background-image: url(../images/楕円形\ 1.svg);
  background-position: top -150px right -120px;
  background-size: auto;
  background-repeat: no-repeat;
  position: relative;
}
.main-inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 20px;
}
.main-copy {
  text-align: left;
}
.main-copy h2 {
  font-size: 32px;
  line-height: 1.8;
  margin-bottom: 40px;
  font-weight: bold;
}
.main-copy p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 40px;
  font-weight: bold;
}
.main-img {
  position: absolute;
  right: 15%;
  top: 15%;
  z-index: 1000;
}

.feature-ttl {
  margin-top: 40px;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}
.feature-ttl span {
  font-size: 16px;
  color: #3BA6C9;
  display: block;
  margin-top: 20px;
}
.feature-inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.feature-heading {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 64px;
}
.feature-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 93px;
}
.feature-box h3 {
  font-size: 24px;
  line-height: 1.8;
  font-weight: bold;
  margin-bottom: 54px;
}
.feature-box p {
  line-height: 1.5;
  font-weight: bold;
}

.price {
  background-color: #EEFBFB;
  padding: 64px 20px 0;
}
.price-inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.price-ttl {
  margin-top: 40px;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}
.price-ttl span {
  font-size: 16px;
  color: #3BA6C9;
  display: block;
  margin-top: 20px;
}
.price table {
  width: 100%;
  box-shadow: 0 3px 6px rgb(0, 0, 0);
  background-color: #fff;
  border-collapse: collapse;
}
.price th {
  width: 30%;
  padding: 30px;
  min-width: 300px;
  border: 1px solid #f0eded;
  font-weight: bold;
}
.price td {
  width: 70%;
  -moz-text-align-last: left;
       text-align-last: left;
  padding: 30px;
  border: 1px solid #f0eded;
  font-weight: bold;
}
.price p {
  width: 100%;
  text-align: center;
  line-height: 128px;
  font-size: 16px;
  font-weight: bold;
}

.faq-inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.faq-ttl {
  margin-top: 40px;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}
.faq-ttl span {
  font-size: 16px;
  color: #3BA6C9;
  display: block;
  margin-top: 20px;
}
.faq dl {
  width: 100%;
  max-width: 907px;
  margin: 0 auto;
}
.faq dt {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #f0eded;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 20px;
}
.faq dd {
  border: 1px solid #f0eded;
  background-color: #E5E5E5;
  padding: 18px 0 20px 37px;
}
.faq dd p {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.8;
}

.blog {
  margin-top: 86px;
  background-color: #EEFBFB;
}
.blog-inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 55px;
  padding-bottom: 91px;
}
.blog-ttl {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}
.blog-ttl span {
  font-size: 16px;
  color: #3BA6C9;
  display: block;
  margin-top: 20px;
}
.blog-list {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.blog-item {
  position: relative;
  width: 30%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 3px 6px rgb(0, 0, 0);
  height: 387px;
}
.blog-item img {
  width: 100%;
}
.blog-item .blog-copy {
  width: 100%;
  height: 30%;
  padding: 14px 30px 0 18px;
  box-sizing: border-box;
}
.blog-item .blog-copy p {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
}
.blog-item .blog-copy time {
  position: absolute;
  right: 32px;
  bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.works-ttl {
  margin-top: 40px;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}
.works-ttl span {
  font-size: 16px;
  color: #3BA6C9;
  display: block;
  margin-top: 20px;
}
.works-inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
/*# sourceMappingURL=style.css.map */