.inner{
    width: 1100px;
    margin: 10px auto;
    display: flex;
    flex-direction: row-reverse;
}

/* main */
.main_content{
    width: 800px;
    margin-left: 40px;
}
.main_content h2{
    background-image: url(../img/mark1.png);
    background-repeat: no-repeat;
    background-position: left 8px center;
    background-color: black;
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 12px 0 12px 30px;
    margin: 12px 0;
}
.main_content h2:nth-child(1){
    margin: 0;
}
.main_content h3{
    font-size: 14px;
    letter-spacing: 2px;
    background: linear-gradient(#fff,#ebebeb);
    border: 1px solid #ccc;
    padding: 11px 0 11px 12px;
    margin: 15px 0 10px 0;
}
.main_content h3:nth-child(0){
    margin-top: 0;
}
.main_content h4{
    font-size: 14px;
    line-height: 28px;
    margin: 11px 0 0 12px;
    padding-right: 10px;
}
.main_content p{
    font-size: 14px;
    letter-spacing: .3px;
    line-height: 28px;
    margin-left: 12px;
}
.main_content p a{
    color: black;
}
dl{
    margin-left: 12px;
    overflow: auto;
    height: 135px;
}
dt {
    float: left;
}
dt time{
    font-weight: bold;
    font-size: 14px;
}
dd{
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px solid #CCCCCC;
    padding: 0px 0 5px 130px;
    margin-bottom: 5px;
}
dd span{
    font-size: 10px;
    border-radius: 2px;
    padding: 0 4px;
    background-color: red;
    color: #fff;
}

/* sub */
.sub_content{
    width: 23%;
    padding-bottom: 30px;
}
.sub_content h2{
    border-left: 3px solid black;
    padding-left: 8px;
    margin-top: 5px;
    font-size: 14px;
}

/* sub menu */
.sub_menu{
    background-color: #E4E4E4;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding: 15px;
}
.sub_menu ul{
    margin-top: 15px;
    list-style: none;
}
.sub_menu li{
    background-color: #fff;
    border-bottom: 1px solid #CCCCCC;
}
.sub_menu li a{
    display: block;
    font-size: 14px;
    padding: 10px;
    letter-spacing: 1px;
    text-decoration: none;
    color: black;
}
.sub_menu li a:hover{
    background-color: black;
    color: #fff;
}

/* box1 */
.box1{
    background-color: #E4E4E4;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
}
.box1 h2{
    margin-bottom: 15px;
}
.box1 p{
    font-size: 14px;
    line-height: 28px;
}

/* box2 */
.box2 h2{
    margin-bottom: 30px;
}
.box2 p{
    font-size: 14px;
}

/* footer */
