button {
  font-size: 12px;
  margin: auto;
  border-width: 5px;
  border-radius: 5px;
}
button.clicked {
  color: #fff;
  background-color: darkblue;
  border-color: darkblue;
}
button.unclicked {
  color: darkblue;
  background-color: #fff;
  border-color: darkblue;
}