body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
/* header.css */
.header-container{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex; 
    justify-content: space-between;
    position: fixed;
}
.header-logo{
    margin: 20px 30px;
}
.header-logo a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: bolder;
}
.nav-container{
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
}
.nav-container li{
    margin: 20px 30px;
}
.nav-container li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.nav-button{
    display: none;
}

/* header.css hover */
.header-logo a:hover{
    color: grey;
}
.nav-container li a:hover{
    color: grey;
}

/* main.css */
.main-container{
    width: 100%;
}
/* lp.css */
.lp-container{
    display: flex;
    width: 100%;
    height: 500px;
    background-image: url(../image/LPimg.jpg);
    background-color: aqua;
    justify-content: last baseline;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.lp-container h1{
    font-size: 50px;
    margin-left: 50px;
    line-height: 80px;
}
.br1{
    margin-left: 30px;
}
/* 各section共通 */
.section-container{
    width: 90%;
    margin: 20px auto;
}
.section-title{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: end;
}
.section-title h2{
    font-size: 40px;
}
.section-title h3{
    margin: 0 0 5px 10px;
}

/* about.css */
.about-content{
    width: 100%;
    margin: 15px auto;
}
.about-button{
    width: 100%;
    display: flex;
    justify-content: end;
}

/* works.css */
.works-content{
    width: 100%;
    margin: 15px auto;
}
.works-list{
    width: 100%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 15px;
}
.works-list a{
    text-decoration: none;
}
.works-item{
    width: 100%;
    margin: 0 auto;
    padding: 5px 0;
    list-style: none;
    box-shadow: 5px 5px 5px rgb(219, 216, 216);
}
.works-item img{
    width: 100%;
}
.works-title{
    margin: 10px 0;
}
.works-title h4{
    margin-bottom: 5px;
    color: black;
}
.works-title p{
    color: grey;
}

/* works.css:hover */
.works-item:hover{
    box-shadow: 10px 10px 10px rgb(87, 86, 86);
}

/* contact.css */
.contact-container{
    width: 100%;
    margin: 10px auto;
    text-align: center;
}

/* fotter.css */
footer{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
footer small{
    width: 100%;
    margin: 0 auto;
    font-size: small;
}