body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
/* header.css */
.header-container{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex; 
    justify-content: space-between;
    position: fixed;
}
.header-logo{
    margin: 20px 30px;
}
.header-logo a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: bolder;
}
.nav-container{
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
}
.nav-container li{
    margin: 20px 30px;
}
.nav-container li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.hamburger-menu{
    display: none;
}

/* header.css hover */
.header-logo a:hover{
    color: grey;
}
.nav-container li a:hover{
    color: grey;
}

/* main.css */
.main-container{
    width: 100%;
}
/* lp.css */
.lp-container{
    display: flex;
    width: 100%;
    height: 500px;
    background-image: url(../image/LPimg.jpg);
    justify-content: last baseline;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.lp-container h1{
    font-size: 60px;
    margin-left: 50px;
    line-height: 100px;
    font-family: 'Corben',cursive;
}

/* 各section共通 */
.section-container{
    width: 90%;
    margin: 50px auto;
}
.section-title{
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: left;
    align-items: end;
}
.section-title h2{
    font-size: 50px;
}
.section-title h3{
    margin: 0 0 5px 10px;
    color: gray;
    font-weight: normal;
}

/* about.css */
.about-content{
    width: 100%;
    margin: 30px auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.about-content p{
    font-size: 30px;
    font-weight: bolder;
    line-height: 3rem;
}

/* profile.css */
.profile-content{
    width: 100%;
    margin: 40px auto;
}
.profile-name{
    text-align: center;
}
.profile-name p{
    font-size: 20px;
    font-weight: bolder;
}
.profile-item{
    width: 60%;
    margin: 0 auto;
}
.profile-item p{
    margin-top: 3rem;
    line-height: 2rem;
    font-size: 18px;
}

/* skills */
.skills-content{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.skills-list{
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
.skills-item{
    width: 100%;
    height: auto;
    list-style: none;
    vertical-align: middle;
}
.skills-item img{
    height: 200px;
}

/* works.css */
.works-content{
    width: 100%;
    margin: 15px auto;
}
.works-list{
    width: 100%;
    height: 100%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.works-list a{
    text-decoration: none;
}
.works-item{
    width: 100%;
    height: 400px;
    list-style: none;
    box-shadow: 0 0 5px 5px rgb(219, 216, 216);
}
.works-item-container{
    width: 100%;
    border-bottom: solid 1px grey;
}
.works-item-container a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.works-title{
    margin: 10px 0;
    padding-left: 10px;
}
.works-title h4{
    margin-bottom: 5px;
    color: black;
}
.works-title p{
    color: grey;
    margin: 5px 0;
    font-size: 12px;
}
.git-area{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.git-area img{
    width: 20px;
    height: 20px;
}
.url-text{
    width: 100%;
    height: 100%;
    text-align: center;
}
.url-text p{
    width: 100%;
    font-size: 11px;
    line-height: 1rem;
}

/* works.css:hover */
.works-item-container:hover{
    opacity: 0.5;
}
.url-text:hover{
    color: aqua;
}

/* fotter.css */
footer{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
footer small{
    width: 100%;
    margin: 0 auto;
    font-size: 8px;
}

/* fedein */
.fadeIn{
    animation-name:fadeInAnime;
    animation-duration: 3.8s;
    animation-fill-mode:forwards;
    opacity:0;
}
@keyframes fadeInAnime{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.fadeInTrigger{
    opacity: 0;
}

/* responsive */
@media (max-width: 820px){
    body{
        width: 100%;
    }
    /* header */
    .header-nav{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #657b8d;
    }
    .nav-container{
        height: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .nav-container li{
        margin-top: 40px;
    }
    .nav-container li a{
        color: white;
        font-size: 40px;
    }
    .hamburger-menu{
        display: block;
        width: 40px;
        height: 40px;
        margin: 20px 20px 0 0;
        background: transparent;
        border: transparent;
        transition: .3s;
    }
    .hamburger-menu span{
        display: block;
        position: absolute;
        width: 30px;
        height: 5px;
        background-color: black;
        top: 27px;
        border-radius: 2px;
    }
    .hamburger-menu .bar-top{
        top: 30px;
        transition: .3s;
    }
    .hamburger-menu .bar-mid{
        top: 39px;
    }
    .hamburger-menu .bar-bottom{
        top: 48px;
        transition: .3s;
    }
    
    /* hamburger click */
    .hamburger-menu.cross .bar-top{
        transform: rotate(45deg) translate(8px,8px);
        transition: .3s;
        top: 20px;
    }
    .hamburger-menu.cross .bar-mid{
        opacity: 0;
    }
    .hamburger-menu.cross .bar-bottom{
        transform: rotate(-45deg) translate(8px,-8px);
        transition: .3s;
        top: 42px;
    }
    body.noscroll{
        overflow: hidden;
    }

    .main-container{
        width: 100%;
    }

    /* section共通 */
    .section-title h2{
        font-size: 40px;
    }
    .section-title h3{
        margin: 0 0 5px 10px;
        color: gray;
        font-weight: normal;
    }

    /* lp */
    .lp-container h1{
        font-size: 35px;
        margin: 0 auto;
        line-height: 80px;
    }

    /* about */
    .about-content p{
        font-size: 18px;
        font-weight: 100;
        line-height: 2rem;
    }
    .about-button{
        justify-content: center;
    }

    /* works */
    .works-list{
        width: 90%;
        display: block;
        margin: 20px auto;
    }
    .works-item{
        margin-top: 20px;
    }
    .url-text{
        font-size: 7px;
    }
    

    /* contact */
    .contact-list h4{
        font-size: 20px;
    }
    .contact-list li{
        list-style: none;
        margin-bottom: 2rem;
        padding: 1rem;
    }
    .contact-list li p{
        padding-left: 2rem;
        margin-top: 2rem;
        font-size: 15px;
    }

}